<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>dotpay</name>
	<displayName><![CDATA[Dotpay]]></displayName>
	<version><![CDATA[2.0.0]]></version>
	<description><![CDATA[This module allows you to accept fast and secure payments by Dotpay]]></description>
	<author><![CDATA[tech@dotpay.pl]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall Dotpay payment module?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
